
body {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	font-weight: bold;
	line-height: 1;
	margin: 0 !important;
	padding: 0 !important;
	background: #fff;
}

p, h2, h3, h4, h5 {
	width: 80em;
	color: #022240;
	line-height: 1.2;

}

.dog_cat {
	position: absolute;
	top: 6.4em;
	left: 8em;
}
.cat {
	position: absolute;
	top: 60em;
	right: 0px;
}
.beta {
	position: relative;
	left: 60em;
	
}

p {
	line-height: 2.0;
	padding-bottom: 2em;
}

.welcome {
	font-size: 140%;
	background: #FF1493;
	font-weight: bold;
	width: 50em;
}

a {
	text-decoration: none;
}

li {
	color: #333;
	padding: 0.1em;
	line-height: 1.2;
}

.profileImage {
	float: left;
	padding-right: 5em;
}

p .text {
	float: right;
	background: #2C3E50;
}

img {
	padding-bottom: 1em;
}

header {
    text-align: center;
    height: 18em;
    padding: 0;
    background: blue;
    color: #fff;
	margin: 0;
}


header text {
	font-size: 600%;
    position: relative;
    top: 500px;
}
header nav{

	font-size: 2em;
	padding: 1em;
}
nav a{
	background: linear-gradient(gold, OrangeRed);
	padding: 1em;
	border-style: solid;
	border-color: blue;
}

/* http://weebtutorials.com/theBlog/?p=103 */
#sideBar {
color:white;
font-family: "Comic Sans MS", "Comic Sans", cursive;
background:gold;
border:thin solid #e8ece9;
width:200px;
padding:14px;
position:absolute;
top:18em;
right:0;
}  /* Change color and font*/



#sideBar h2{
font-family: "Comic Sans MS", "Comic Sans", cursive;
margin-top:0;
width: 10em;
font-size: 141%;
} /*Change font of the title*/


#sideBar ul{
padding:0;
margin:0;
margin-left:25px;
margin-left:33px;
list-style: none;
} /*Reset the default padding/margin and set it as required*/

#sideBar li {
	color: green;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	font-weight: bold;
	line-height: 4;
}

#sideBar ul li a:hover{
color:#e0993e;
} /*Change color of hover text*/
