
body {
	font-family: 'Open Sans Light', Helvetica, Arial, sans-serif;
	font-weight: 200;
	line-height: 1;
	margin: 0 !important;
	padding: 0 !important;
	background: #fff;
}

p, h2, h3, h4, h5 {
	width: 80em;
	color: #022240;
	line-height: 1.2;

}


p {
	line-height: 2.0;
	padding-bottom: 2em;
}

a {
	text-decoration: none;
}

li {
	color: #333;
	padding: 0.1em;
	line-height: 1.2;
}

.profileImage {
	float: left;
	padding-right: 5em;
}

p .text {
	float: right;
	background: #2C3E50;
}
header {
    text-align: justify;
    height: 6em;
    padding: 2em 5%;
    background: #2c3e50;
    color: #fff;
	margin: 0;
}

header::after {
    content: '';
    display: inline-block;
    width: 100%;
}

header > div,
header nav,
header div h1 {
    display: inline-block;
    vertical-align: middle;
	color: #fff;
	margin: 0;
}
header h1 {
	font-size: 2.5em;
	margin: 0;
}
header nav{
	font-size: 2em;
	padding: 1em;
}
nav a{
	padding: 1em;
}

header > div {
    width: 50%;
    height: 100%;
    text-align: left;
}

header > div::before {
    content: '';
    display: inline-block;  
    vertical-align: middle;
    height: 100%;
}

/* http://weebtutorials.com/theBlog/?p=103 */
#sideBar {
color:#c3c3c3;
font-family:Tahoma, Geneva, sans-serif;
background:#eff3f0;
border:thin solid #e8ece9;
width:200px;
padding:14px;
position:absolute;
top:10em;
right:0;
}  /* Change color and font*/



#sideBar h2{
font-family:Trebuchet MS1, Helvetica, sans-serif;
margin-top:0;
width: 10em;
font-size: 141%;
} /*Change font of the title*/


#sideBar ul{
padding:0;
margin:0;
margin-left:25px;
margin-left:33px;
list-style: url(arrow.png);
} /*Reset the default padding/margin and set it as required*/





#sideBar ul li a:hover{
color:#e0993e;
} /*Change color of hover text*/
